{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {# templates/contact.html.twig #}

    {{ form_start(form2) }}<br>
    {{ form_row(form2.title) }}<br>
    {{ form_row(form2.content) }}<br>
    {{ form_row(form2.price) }}<br>
    {{ form_row(form2.submit) }}<br>
    {{ form_end(form2) }}<br>

</div>
{% endblock %}